.header{
  border-bottom: 3px solid #A99260;
  /*border-style: solid;
  border-color: #A99260;*/
  background-color: #041E42;
  color: white;
}

.footer{
  border-top: 3px solid #A99260;
  /*border-style: solid;
  border-color: #A99260*/
  background-color: #041E42;
  color: white;
}

.results{
  height:500px;
  border-style: solid;
  border-color: #A99260;
  background-image: url("img/bottombg.png");
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  overflow-y: scroll;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  min-width:200px;
  height:150px;
  /*background-image: url("img/bottombg.png");*/
  float: left;
  box-sizing: border-box;
}

.newslide {
  border: 3px dashed black;
  display: inline-block;
  width:200px;
  height:150px;
  background-image: url("img/bottombg.png");
  float: left;
  box-sizing: border-box;

}

.paddiv {
  display: inline-block;
  min-width:16px;
  height:150px;
  float: left;
  box-sizing: border-box;

}

.defaultSlide{

  background-image: url("img/bottombg.png");

}

.errorSlide{
  background-color: #ec8686;
}

.warningSlide{
  background-color: #ffff7f;
}

.slideshow{
  white-space: nowrap;
  overflow: auto;
  border-style: solid;
  border-color: #A99260;
  background-color: #041E42;
  box-sizing: border-box;
  border-radius: 5px;

}
body{
  margin: 0;	
  background-image: url("img/background2.png");
  background-position: center;
  background-size: cover;
}
.selected {
  transition: ease-in 0.1s;
  transform: scale(0.9);
}

/*
.newslide {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("img/bottombg.png");
  border: 3px dashed black;
  width:200px;
  height:150px;
}
*/

.displayErrors {
  background-color: #ec8686;
  font-size: 1.25em;
  border-radius: 5px;
}

.displayWarnings {
  background-color: #ffff7f;
  font-size: 1.25em;
  border-radius: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
